bin/
obj/
.vs/
.git/
.publish-out
czone_debug.html
PC_Parts_Scrapper/publish-out/
playwright_profile/

# Node.js / React
node_modules/
dist/
build/
npm-debug.log*
.env
.env.local

C#
appsettings.Development.json
